.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

button {
  margin: 5px;
  width: 30%;
}

input {
  margin: 5px;
  width: 30%;
}
